<?xml version="1.0" encoding="UTF-8"?>
<project>
  <name>Javascript N-Queens</name>
  <date>30/Jul/2011</date>
  <description>A genetic algorithm that solves the N-Queens problem.</description>
  <tags>
    <tag>genetic algorithm</tag>
    <tag>javascript</tag>
	<tag>n-queens</tag>
	<tag>flot</tag>
  </tags>
</project>
